---
layout: base
title: Open Development Toolkit
desc: Tools and training around open development data 
---

{% include header.html %}
<div class="row-fluid color3 review">
    <div class="span12">
<p>The Open Development Toolkit is a project from <a href="http://devinit.org//">Development Initiatives</a> and the <a href=
    "http://okfn.org">Open Knowledge Foundation</a> starting in January 2014. The Toolkit will act as a hub around open development, bringing together tools and training materials to maximise the use of open data that could be used to inform international development.


<p>We'll be seeking input from experts in the open development sector very soon - which tools do you already use to make sense of open data, and what features would you like to see in them? There will also be a focus throughout the project on the needs of citizens in aid-receiving countries - what would you like to know about aid flows into your country, and how would you like to best access them?

    If you'd like to stay updated with progress on the Open Development Toolkit, please sign up here: <a id="readmore" href="#" title="">Weiterlesen</a></p>
<div id="more" class="js-hidden">


       </div>
    </div>
</div>

{% include about.html %}
