<div class="row-fluid spaceless">
    <div class="span2">
        <span class="heading color1">FAQ</span>
    </div>
</div>
<div id="about" class="row-fluid color2">
    <div class="span12">
        <h4>What is 'open development'?</h4>
        <p>Open Development sits at the intersection of the 'open' movement, and international development. This could take the form of looking at how open data can affect decisions made within international development; open access to research materials; or opening up the ways we work, for example by being more inclusive, to name just a few examples. 
        If you want to find out more about open development, join the <a href="https://lists.okfn.org/mailman/listinfo/open-development/">Open Development mailing list</a>, where a wide range of topics within Open Development are discussed. It's open to everyone to join! 

        <h4>What is the aim of the project?</h4>
        <p>To see development data used and useful. Although there is currently more open data than ever before, data availability is not the same as data accessibility; with this project, we want to empower people to really use and make sense of data that is relevant to poverty reduction. The project will be focused upon the needs of citizens and journalists in aid-receiving countries, as they are well positioned to transfer the knowledge they gain to the wider public. 

        <h4>Will the toolkit have a specific thematic focus?</h4>
        <p>As there's already lots of open data around the aid sector, thanks to the <a href="http://iatistandard.org/">International Aid Transparency Initiative (IATI)</a> there will be an initial focus on the aid sector, specifically on making it as easy as possible for civil society and journalists in aid-receiving countries to access and understand open aid data. It is envisioned that in the future, other aspects of open development data will also be included - election data, sanitation data, or education data for example.</p>

        <h4>What is the project plan? </h4>
         <p>The project will be very much based upon user needs - so, a first step will be talking to experts within the sector, as well as potential users who might not be making the most of aid data quite yet. We'll be creating training materials around existing tools, and where possible, building interoperable, open source modules to mix them with other relevant open data sets. We hope many of the ideas for how to develop the project will come from you, the community!</p>

         <h4>How will this be any different to other existing IATI data portals?</h4>
         <p>It won't be a data portal - it will be a consolidated and curated set of resources and training documentation (some of which already exist!), a hub of open development data. There'll be a strong focus on making sure that people are really using the data that is out there- the 'demand side' of the open data ecosystem, by providing easy to understand training materials, holding workshops, and getting in touch with people who are in a position to pass on those skills to others. The training materials will be written as part of <a href="https://schoolofdata.org">School of Data</a>- for an example of the style, check out <a href="http://schoolofdata.org/handbook/courses/courses">the courses they've written already</a>.</p>

         <h4>How is the Open Development Toolkit funded?</h4>
     	<p>Initial funding is 50% provided by the Open Knowledge Foundation, and 50% by Development Initiatives. We're currently looking for funds to develop different aspects of the project; for example, software development of the new open source tools, training material and carrying out workshops with groups of potential data users. If you're interested in finding out more, please get in touch with Zara Rahman on <a href="mailto:zara.rahman@okfn.org">zara.rahman@okfn.org</a></p>
     	
     	<p>If you have any other questions, please don't hesitate to <a href="mailto:zara.rahman@okfn.org.">get in touch!</a></p>


</div>
    </div>
</div>
