<div class="row-fluid spaceless">
    <div class="span2">
        <span class="heading color1">FAQ</span>
    </div>
</div>
<div id="about" class="row-fluid color2">
    <div class="span12">
        <h4>Will the toolkit have a specific focus?</h4>
        <p>As there's already lots of open data around the aid sector, thanks to the <a href="http://iatistandard.org/">International Aid Transparency Initiative (IATI)</a> there will be an initial focus on curating already existing tools which use IATI data, creating training materials around them, and carrying out a scoping analysis to see if there are any gaps in tools. We plan to create open source, interoperable tools to fill these potential gaps, building upon the great tools that are already available. We'll be talking to potential users of aid data to see what features they would like to see, and how best to design the Toolkit hub around their needs. The outline of the project will be very iterative, based upon user responses and needs throughout the project lifetime. 
        It's planned that in the future, other aspects of open development data will also be focused upon - election data, sanitation, or education data for example. 

        <h4>How is the Open Development Toolkit funded?</h4>
     	<p>Initial funding is 50% provided by the Open Knowledge Foundation, and 50% from Development Initiatives. We're looking for funds to develop the new tools, training material and carrying out workshops with groups of potential data users. If you're interested in finding out more, please get in touch with Zara Rahman, Project Lead, on <a href="mailto:zara.rahman@okfn.org.">zara.rahman@okfn.org</a></p>
     	<br>
     	<p>If you have any other questions, please don't hesitate to <a href="mailto:zara.rahman@okfn.org.">get in touch!</a></p>


</div>
    </div>
</div>
