<div id="challenges" class="row-fluid">
    <div class="span6 color3">
        <div class="heading color1">Posts:<br /></div>
        <ul>
          {% for post in site.posts %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
    </div>
    <div class="span6 color3">
        <div class="heading color1">Resources:<br /></div>
        <ul>
          {% for resource in site.pages %}
            {% if resource.isresource == true %}
            <li>
              <a href="{{ resource.url }}">{{ resource.title }}</a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
    </div>
</div>
